<div class="table-wrap">
  <table>
    <thead>
      <tr>
        <th>Asset</th>
        <th class="right">Close</th>
        <th class="right col-pct">% Change</th>
        <th class="center">As of</th>
        <th class="center">Signal</th>
        <th class="center col-spark">14D Trend</th>
      </tr>
    </thead>
    <tbody>
      {% for r in assets %}
        {% if r.error %}
          <tr class="row-error">
            <td>{{ r.name }}</td>
            <td colspan="5">⚠️ {{ r.error }}</td>
          </tr>
        {% else %}
          {% include 'partials/signal_row.html' %}
          {% include 'partials/detail_row.html' %}
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>
